@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  @apply bg-dark-background;
  color: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 30, 33, 36;
    --background-end-rgb: 30, 33, 36;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

button {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  border-width: 1px;
  min-width: 5em;
  min-height: 4em;
  margin: 0.5em;
}
